[submodule "frontend/jakoten"]
	path = frontend/jakoten
	url = https://github.com/iammytoo/jakoten
[submodule "db/jajujoDB"]
	path = backend/com/db/jajujoDB
	url = https://github.com/iammytoo/jajujoDB
